html,
body {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;

    background: black;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}


canvas {
    width: 800px;
    height: 600px;

    display: block;

    image-rendering: pixelated;
}
